pyyaml
pytest-cov
coveralls
biosteam
biorefineries>=2.15.17
sympy
pint>=0.9
chemicals>=0.1.4
colorpalette>=0.3.1 
matplotlib>=3.1.1
numpy>=1.18.1
xlrd==1.2.0
openpyxl>=3.0.0
free_properties>=0.2.5
flexsolve==0.3.29
numba>=0.46.0
pyglet
ipykernel
