sphinx>=7.3.7
pydata_sphinx_theme==0.15.4
sphinxcontrib-jquery
sphinx_multitoc_numbering
sphinx_autodoc_typehints
biorefineries>=2.30.0
sphinx_design
pyyaml
ipykernel
nbsphinx
nbsphinx-link
myst_parser