html[data-theme="dark"] img {
    filter: none;
}

html[data-theme="dark"] .bd-content img:not(.only-dark) {
    background: unset;
}

html[data-theme="light"] {
    --pst-color-title: rgb(69, 157, 185);
}

html[data-theme="dark"] {
    --pst-color-title: rgb(229, 229, 229);
}

h1 {
  @extend .heading-style;
  margin-top: 0;
  font-size: var(--pst-font-size-h1);
  color: var(--pst-color-title);
}

h2 {
  @extend .heading-style;
  font-size: var(--pst-font-size-h2);
  color: var(--pst-color-title);
}

h3 {
  @extend .heading-style;
  font-size: var(--pst-font-size-h3);
  color: var(--pst-color-title);
}

.sd-card-title {
  margin-bottom: 0.5rem;
  font-weight: 600 !important;
  color: var(--pst-color-text);
}
